 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(85,93,102,0.45), rgba(85,93,102,0.45)), url("images/IMG_9272.JPG");
  background-position: 50% 37.98%;
}

.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-text-1 {
  font-size: 4.1875rem;
  width: 509px;
  margin: 385px auto 0;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 92px;
  object-position: 50% 58.38%;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  width: 202px;
  margin: 93px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 0 auto 60px;
  padding: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 49.7% 37.98%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 214px;
    height: 70px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 80px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 17px;
    margin-bottom: 24px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 670px;
}

.u-section-2 .u-image-1 {
  width: 224px;
  height: 531px;
  object-position: 32.92% 50%;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 324px;
  margin: -490px auto 0;
}

.u-section-2 .u-image-2 {
  width: 259px;
  height: 259px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 287px);
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  width: 324px;
  margin: -196px auto 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  width: 324px;
  margin: 39px auto 0;
}

.u-section-2 .u-image-3 {
  width: 228px;
  height: 229px;
  margin: 13px auto 0;
}

.u-section-2 .u-image-4 {
  width: 164px;
  height: 164px;
  margin: -138px auto 51px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 718px;
  }

  .u-section-2 .u-image-1 {
    height: 530px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -493px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 142px;
    margin-left: calc(((100% - 940px) / 2) + 231px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -356px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 45px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 45px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -453px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 670px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -513px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -25px;
    margin-left: calc(((100% - 720px) / 2) + 124px);
  }

  .u-section-2 .u-text-2 {
    margin-top: -195px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2) + 190px);
    margin-left: calc(((100% - 720px) / 2) + 206px);
  }

  .u-section-2 .u-image-3 {
    margin-top: 59px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -196px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 134px;
    height: 317px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -303px;
    margin-right: calc(((100% - 540px) / 2) + 100px);
    margin-left: calc(((100% - 540px) / 2) + 116px);
  }

  .u-section-2 .u-image-2 {
    margin-top: 75px;
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -235px;
    margin-right: calc(((100% - 540px) / 2) + 100px);
    margin-left: calc(((100% - 540px) / 2) + 116px);
  }

  .u-section-2 .u-text-3 {
    margin-top: -129px;
    margin-right: calc(((100% - 540px) / 2) + 84px);
    margin-left: calc(((100% - 540px) / 2) + 132px);
  }

  .u-section-2 .u-image-3 {
    margin-top: 129px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -84px;
    margin-bottom: 38px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 955px;
  }

  .u-section-2 .u-image-1 {
    width: 124px;
    height: 294px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -140px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 152px;
    margin-right: calc(((100% - 340px) / 2) + -89px);
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: 324px;
    margin-top: -311px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 16px);
  }

  .u-section-2 .u-image-3 {
    margin-top: 151px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 76px;
    margin-bottom: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/IMG_9277.PNG");
  background-position: 53.22% 50%;
  min-height: 903px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 745px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 571px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 428px;
    background-size: auto 110%;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 269px;
    background-size: 115%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 776px;
}

.u-section-4 .u-rotation-parent-1 {
  width: 275px;
  height: 275px;
  margin: -11px auto 0 -88px;
}

.u-section-4 .u-image-1 {
  width: 275px;
  height: 275px;
}

.u-section-4 .u-text-1 {
  margin: -224px auto 0 414px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: 20px 407px 0 408px;
}

.u-section-4 .u-map-1 {
  width: 318px;
  height: 186px;
  margin: 30px auto 0 411px;
}

.u-section-4 .u-group-1 {
  width: 791px;
  min-height: 316px;
  height: auto;
  margin: 30px 174px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  margin: 0 20px;
}

.u-section-4 .u-image-2 {
  width: 742px;
  height: 213px;
  margin: 30px auto -10px;
}

.u-section-4 .u-image-3 {
  width: 172px;
  height: 121px;
  object-position: 50% 21.76%;
  margin: -91px -18px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-4 .u-image-1 {
    margin: 0 auto 0 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: 243px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-map-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 54px;
    margin-right: auto;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -10px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 40px;
    margin-bottom: -9px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 0;
    margin-right: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-4 .u-text-1 {
    width: 382px;
    margin-top: -218px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 207px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -286px;
    margin-left: -50px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 276px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -193px;
    margin-right: 37px;
    margin-left: 121px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 37px;
  }

  .u-section-4 .u-map-1 {
    margin-top: 58px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 174px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-top: -65px;
  }

  .u-section-4 .u-image-2 {
    height: 155px;
    margin-top: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-3 {
    margin-top: -85px;
    margin-right: 0;
    margin-bottom: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: -84px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 75px;
    margin-left: calc(((100% - 1140px) / 2) + 285px);
  }

  .u-section-4 .u-text-1 {
    margin-top: -188px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-4 .u-map-1 {
    width: 256px;
    height: 167px;
    margin-top: 48px;
  }

  .u-section-4 .u-group-1 {
    margin-top: 132px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 0;
  }

  .u-section-4 .u-image-2 {
    height: 98px;
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-3 {
    width: 115px;
    height: 81px;
    margin-top: -59px;
    margin-right: -11px;
    margin-bottom: 0;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/city-centre-surgut-387571980-6.jpg");
  background-position: 50% 50%;
  min-height: 842px;
  background-size: auto 120%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 694px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 532px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 399px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 251px;
    background-size: 115%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 215px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  width: 401px;
  margin: 35px auto 0;
}

.u-section-6 .u-text-2 {
  text-align: center;
  font-size: 0.875rem;
  width: 416px;
  margin: 21px auto 39px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 423px;
}

.u-section-7 .u-image-1 {
  width: 40px;
  height: 33px;
  margin: 24px 269px 0 auto;
}

.u-section-7 .u-image-2 {
  width: 40px;
  height: 33px;
  margin: -33px auto 0 212px;
}

.u-section-7 .u-text-1 {
  text-align: center;
  font-size: 0.875rem;
  margin: 17px 85px 0 647px;
}

.u-section-7 .u-text-2 {
  text-align: center;
  margin: -138px 708px 0 31px;
}

.u-section-7 .u-image-3 {
  width: 327px;
  height: 37px;
  margin: 37px 125px 0 auto;
}

.u-section-7 .u-text-3 {
  text-align: center;
  width: 389px;
  margin: 63px auto 24px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    height: 32px;
    margin-right: 184px;
  }

  .u-section-7 .u-image-2 {
    height: 32px;
    margin-top: -32px;
    margin-left: 171px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 16px;
    margin-right: 0;
    margin-left: 532px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 539px;
    margin-left: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 46px;
    margin-right: 41px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 62px;
    margin-bottom: 18px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 205px;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -229px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: 408px;
    margin-top: 205px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    width: 408px;
    margin-top: -343px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: 243px;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 57px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 318px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -305px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 297px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -408px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 313px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 118px;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 275px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -271px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 257px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: -377px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    margin-top: 277px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin: 119px 0 8px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/photo_2023-04-17_13-43-22.jpg");
  background-position: 50% 35.63%;
}

.u-section-8 .u-sheet-1 {
  min-height: 365px;
}

.u-section-8 .u-group-1 {
  width: 748px;
  min-height: 191px;
  margin: 204px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 16px;
  padding-right: 16px;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 63px 20px 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    background-position: 100% 31.84%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-8 .u-group-1 {
    width: 617px;
    min-height: 138px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    background-position: 50% 62.93%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-8 .u-group-1 {
    width: 473px;
    min-height: 182px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-left: -101px;
    margin-right: -101px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    background-position: 54.15% 44.26%;
    background-size: auto 110%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-8 .u-group-1 {
    width: 443px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 48px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    background-position: 50.53% 80.67%;
  }

  .u-section-8 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-8 .u-group-1 {
    min-height: 126px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-top: 18px;
    margin-left: 6px;
    margin-right: 6px;
  }
}